@page
@model AzureCognitiveServices.TreinamentoModel
@{
    ViewData["Title"] = "Treinamento";

    var corDoAlertaFotos = "success";
    if (Model.ErroFotos)
        corDoAlertaFotos = "danger";

    var corDoAlertaTreinamento = "success";
    if (Model.ErroTreinamento)
        corDoAlertaTreinamento = "danger";
}

<h1>Treinamento do projeto @Model.Projeto.Name</h1>

<form method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Envie uma imagem por URL <strong>OU</strong> por arquivo</legend>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="url">URL de uma imagem:</label>
                    <input type="url" class="form-control" name="url" id="url" />
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="arquivo">Arquivo de uma imagem:</label>
                    <input type="file" class="form-control-file" asp-for="Arquivo" id="arquivo" />
                </div>
            </div>
        </div>
    </fieldset>

    <br />
    <br />

    <div class="row">
        <fieldset>
            <legend>Selecione todas as tags que se relacionam com a imagem</legend>
            <div class="col-12">
                <div class="form-group">
                    @foreach (var tag in Model.TagsDoProjeto)
                    {
                        <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="@tag.Id" name="Tags" value="@tag.Id">
                            <label class="custom-control-label" for="@tag.Id">@tag.Name</label>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>

    <br />
    <br />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Adicionar foto</button>
    </div>
</form>

@if (!string.IsNullOrWhiteSpace(Model.MensagemFotos))
{
    <div class="alert alert-@corDoAlertaFotos alert-dismissible fade show" role="alert">
        @Model.MensagemFotos
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.MensagemTreinamento))
{
    <div class="alert alert-@corDoAlertaTreinamento alert-dismissible fade show" role="alert">
        @Model.MensagemTreinamento
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}